body{
    margin: 0;
    padding: 0;
    /*background: radial-gradient(#132222,#1d3636);*/
}

.contenedor{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: 750px
}

header{
    background-color: #132222;
    width: 100%;
    height: 15%;
    align-content: center;
}

nav{
    display: flex;
    justify-content:center;
    margin-top: 40px;
}

nav a{
    color: aquamarine;
    font-size: 20px;
    text-decoration: none;
    margin: 40px;
}

nav div a:hover{
    font-size: 25px;
}

main{
    height: 70%;
    display: flex;
    flex-direction: row;
}

.main-left{
    min-width: 203px;
    font-size: 14px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: lightgray;
    border-right: solid 1px darkcyan;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-left article div{
    margin-bottom: 30px;
}

.main-left img{
    margin-top: 15px;
    width: 120px;
    border-radius: 20px;
    border: solid 2px rgba(24, 78, 82, 0.397);
}

.main-right{
    width: 70%;
    margin-left: 20px;
    position: relative;
}

.art-presentacion{
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    font-size: large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.art-experiencia{
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.art-habilidades{
    
    margin-left: 10%;
    margin-right: 10%;
    font-size: 16px;
}

.art-contacto{
    border: solid 1px rgba(74, 17, 167, 0.425);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
}

#btn_enviar{
    background-color: darkblue;
    color: #fff;
    margin-left: 120px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 60px;
    height: 25px;
}

#btn_enviar:hover{
    opacity: .6;
}

.form-contacto p{
    text-align: center;
    font-weight: bold;
    color: darkblue;
}

.habilidades-left{
    font-size: 16px;
    font-weight: 1;
    margin-top: 4px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}

.hab{
    margin:0;
}

.contenedor-exp{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.exp{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.exp-col1{
    max-width: 90px;
    width: 25%;
    padding: 5px;
}

.exp-col2{
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 5px;
}

.barra_habilidades{
    
    height: 10px;
    width: 80%;
    background-color:#a19292;
}

.progreso_habilidades{
    height: 10px;
    background-color:#132222;
}

#progreso_org{
    width: 100%;
}

#progreso_com{
    width: 90%;
}

#progreso_tra{
    width: 80%;
}

#progreso_hab_inf{
    width: 80%;
}

#progreso_ing{
    width: 100%;
}

#progreso_ana_dat{
    width: 70%;
}

#progreso_cont{
    width: 80%;
}

input{
    border-bottom: solid 1px;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-left: 10px;
}

textarea{
    resize: none;
    margin-left: 10px;
}

footer{
    padding-left: 100px;
    padding-right: 100px;
    background-color: #4c8f8f;
    height: 15%;
    display: flex;
    flex-direction: column;

}

.redes{
    display: flex;
    margin-top: 30px;
    padding-bottom: 0;
    justify-content: space-evenly;
    height: 60%;
}

.derechos{
    height: 40%;
    text-align: center;
    color: white;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.icon:hover{
    cursor: pointer;
}